.navbar {
    height: 5em;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}

.btn-success {
    width: 100px;
    height: 60px;
    align-items: center;
}

btn-outline-info {
    font-size: 32px;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#countdownSpan {
    font-size: 40px; 
    color: red;
   
}